body {
    font-family: helvetica, Andica;
    justify-content: center;
    align-items: center;
}

.index {
    width: 95%;
    margin: 0 auto;
}
@media (max-width: 768px) {
.index {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}