.formation {
    margin-top: 1px;
    margin-bottom: 10px;
    /* margin: 30px; */
    border-radius: 8px;
    display: inline-block;
    border-collapse: collapse;
    font-weight: bold;
    color: black;
    background-color: #00000;
    border: 2px solid black; /* Толщина и цвет границы */
    padding: 10px; /* Отступ между текстом и границей */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    transition: all 0.2s ease-in-out; /* Анимация при наведении */
}
.form textarea {
    border-radius: 10px;
    /* width: 98%; */
    border: 2px solid black;
}
.diveditor {
    width: 98%;
    border-radius: 8px;
/*    margin-bottom: 8px; */
    border: 2px solid black;
/*    margin-left: 13px; */
}
        #codeModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border: 1px solid #ccc;
            z-index: 1000;
        }
        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 999;
        }
